<ion-view view-title="Recognize">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
        <i class="icon ion-android-options"></i>
      </button>
    </ion-nav-buttons>
  <ion-content style="text-align: center;">
  	<form name="myForm" id="myForm">
  		<!-- <img id="postImg" class="circleBase type3 postImg" ng-model="modeldata.postImg" src="img/user2.png"> -->
  		<img id="postImg" class="circleBase type3 postImg"  ng-show="imgTaken2 !== undefined" ng-src="{{imgTaken2}}" ng-model="modeldata.postImg">
		<img id="postImg" ng-show="imgTaken2 === undefined" class="circleBase type3 postImg"  ng-model="modeldata.postImg" ng-src="img/user2.png">

  		<br>
  		<div class="row">
		  <div class="col">
		  	<button class="button button-calm" ng-click="capturegallery()">
			  Gallery <i class="icon ion-android-image"></i> 
			</button>
		  </div>
		  <div class="col">
		  	<button class="button button-calm" ng-click="capturecamera()">
			  Camera <i class="icon ion-android-camera"></i>
			</button>
		  </div>
		</div>

		<button class="button button-positive" ng-click="recognize()">
		 <i class="icon ion-paper-airplane"></i> Recognize My Face
		</button>
		<br>
		<img id="backImg" class="backImg"  ng-show="imgTaken2 !== undefined" ng-src="{{imgTaken2}}" ng-model="modeldata.backImg"  style="text-align: center"  hidden="true">
		<img ng-show="imgTaken2 === undefined" ng-model="modeldata.backImg" ng-src="img/user2.png" style="text-align: center"  hidden="true">
	</form>
  </ion-content>
</ion-view>
