<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-royal tabs-striped tabs-color-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Enroll" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/Enroll">
    <ion-nav-view name="tab-Enroll"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <!-- <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->

  <!-- Account Tab -->
  <ion-tab title="Recognize" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/Recognize">
    <ion-nav-view name="tab-Recognize"></ion-nav-view>
  </ion-tab>

  <!-- Hub -->
  <!-- <ion-tab title="Hub" icon-off="ion-android-cloud-outline" icon-on="ion-android-cloud" href="#/tab/Hub">
    <ion-nav-view name="tab-Hub"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
